<html>
 <head>
  <title>Watchlist{% block title %}{% endblock %}</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='watchlist.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#131F35">

  <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='handlebars-v4.0.12.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vex.combined.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='noty.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='date.format.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='jq.shuffle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='utils.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='film.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

  <link href="https://fonts.googleapis.com/css?family=Monda|Unica+One|Alegreya:400italic,400|Abril+Fatface|Vollkorn" rel="stylesheet" type="text/css">
  <link type="text/css" href="{{ url_for('static', filename='material-design-iconic-font.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vex.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='vex-theme-watchlist.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='noty.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='responsive.css') }}" rel="stylesheet" type="text/css">
 </head>

 <body>
  {% block content %}{% endblock %}
  {% block templates %}{% endblock %}
 </body>
</html>