{% extends "base.html" %}

{% block content %}
<!-- Navigation -->
 <nav>
  <select name="provider_filter">
   <option value="all">All providers</option>
   {% for pid, name in providers.iteritems() %}
    <option value="{{pid}}">{{ name }}</option>
   {% endfor %}
  </select>

  <!-- <button name="fade_no_offers">Fade no offers</button> -->

  <select name="genre_filter">
   <option value="all">All genres</option>
   {% for genre, count in genres.iteritems() %}
    <option>{{ genre }} ({{ count }})</option>
   {% endfor %}
  </select>

  <select name="score_filter">
   <option value="all">All scores</option>
   <option>>= 9.0</option>
   <option>>= 8.0</option>
   <option>>= 7.0</option>
   <option>>= 6.0</option>
   <option>>= 5.0</option>
   <option><= 6.0</option>
   <option><= 5.0</option>
  </select>

  <select name="offering_type_filter">
   <option value="all">All offerings</option>
   <option>Flatrate</option>
   <option>Rent</option>
  </select>

  <button name="hide_no_offers">Hide no offers</button>

  <button name="reset_filter">Reset filters</button>
  
  <button name="shuffle">Shuffle</button>
  <button name="random">Random</button>

  <div class="counter"><span class="visible">0</span> / <span class="size">{{ watchlist_size }}</span></div>

  <button name="update_offerings">Update offerings</button>
  <button name="sync_watchlish">Sync watchlist</button>
 </nav>

 <!-- Container -->
 <div class="container"></div>
{% endblock %}


{% block templates %}{% raw %}
<!-- Template: Film -->
<script id="film_card_template" type="x-tmpl-mustache">
 <div class="card" data-slug="{{slug}}" data-title="{{title}}" data-tmdbid="{{ids.tmdb}}">

  <div class="backdrop" style="{{#metadata}}background-image: url('/image/{{../slug}}_backdrop.jpg');{{/metadata}}"></div>

  <div class="details">
   <h1>{{title}}{{#metadata}}<span>{{year}}</span>{{/metadata}}</h1>

   {{#metadata}}
    <h3>{{crew directors writers}}</h3>
    <p>{{overview}}</p>
    <span class="genres">{{join genres}}</span>
   {{/metadata}}

   {{#scoring}}
    <div class="scoring" data-average-score="{{average}}">
     {{#imdb_score}}<img src="/assets/bullet_imdb.png"> {{.}}{{/imdb_score}}
     {{#tomato_score}}<img src="/assets/bullet_rt.png"> {{.}} %{{/tomato_score}}
     {{#metacritic_score}}<img src="/assets/bullet_mc.png"> {{.}} %{{/metacritic_score}}
     {{#tmdb_score}}<img src="/assets/bullet_tmdb.png"> {{.}}{{/tmdb_score}}
     {{#average}}<span class="average">{{.}}</span>{{/average}}
    </div>
   {{/scoring}}
  </div>

  <div class="backside">
   {{> offerings}}

   <i class="zmdi zmdi-movie-alt update_metadata" title="Update metadata"></i>
   <span class="links">
    <a href="https://letterboxd.com/film/{{slug}}" target="_blank" title="Letterboxd">LB</a>
    {{#ids.tmdb}}
     | <a href="https://www.themoviedb.org/movie/{{.}}" target="_blank" title="TMDb">TMDb</a>
    {{/ids.tmdb}}
    {{#ids.imdb}}
     | <a href="https://www.imdb.com/title/{{.}}" target="_blank" title="IMDb">IMDb</a>
    {{/ids.imdb}}
    {{#ids.tomato}}
     | <a href="https://www.rottentomatoes.com/m/{{.}}" target="_blank" title="Rotten Tomatoes">RT</a>
    {{/ids.tomato}}
    {{#justwatch_url}}
     | <a href="https://www.justwatch.com{{.}}" target="_blank" title="JustWatch">JW</a>
    {{/justwatch_url}}
   </span>

   {{#metadata}}
    <span class="offerings_updated">{{../offerings_updated_str}}</span>
    <i class="zmdi zmdi-ticket-star update_offerings" title="Update offerings"></i>
   {{/metadata}}
  </div>
  
 </div>
</script>

<!-- Template: Offerings (partial) -->
<script id="film_card_offerings_template" type="x-tmpl-mustache">
 {{#offerings}}
  <div class="offerings">
   {{#each this}}
    <div class="provider {{join offer_types delimiter=" "}}" data-provider-id="{{@key}}">
     <img src="/assets/provider_{{@key}}.png" title="{{name}}"><br>
     {{#each offers}}
      <span class="{{monetization_type}}"><a href="{{urls.standard_web}}" target="_blank">{{upper presentation_type}}{{#price}}:{{.}}kr{{/price}}</a></span>
     {{/each}}
    </div>
   {{/each}}
  </div>
 {{/offerings}}
</script>

<!-- Template: Find metadata (modal) -->
<script id="find_metadata_template" type="x-tmpl-mustache">
 <h1>{{title}}</h1>
 <h4>{{slug}}</h4>
 <div class="films">
  {{#films}}
   <div class="film" data-tmdbid="{{id}}">
    <h3>{{title}} ({{year}})<span>{{id}}</span></h3>
    <p>{{overview}}</p>
   </div>
  {{/films}}
 </div>
 <div class="manual">
  <input type="text" name="tmdb_id" placeholder="TMDb ID"><button name="submit_manual">Submit</button>
 </div>
</script>

<!-- Template: Find offerings (modal) -->
<script id="find_offerings_template" type="x-tmpl-mustache">
 <h1>{{title}}</h1>
 <h4>{{slug}}</h4>
 <div class="films">
  {{#films}}
   <div class="film" data-justwatchid="{{id}}">
    <h3>{{title}} ({{year}})<span>{{id}}</span></h3>
    <p>{{overview}}</p>
   </div>
  {{/films}}
 </div>
</script>
{% endraw %}{% endblock %}